{% extends "catalog/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
<h2>Введите логин и пароль Вашего аккаунта.</h2>
{% endblock page_header %}
{% block content %}
{% if form.errors %}
<p>Ваше логин и пароль указаны неверно. Попробуйте еще раз.</p>
{% endif %}
<form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">Войти</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{request.META.HTTP_REFERER}}" />
    {% endblock content %}